/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2014, 9:04:16 PM
    Author     : Giannis
*/

html{
    width: 100%;
}
body{
    margin: 0 auto;
    /*    transition: opacity 1s ease-in-out;*/
    background-repeat: no-repeat;
    background-size: cover;
    animation:mymove 60s infinite;
    -webkit-animation:mymove 60s infinite; /* Safari and Chrome */


    /*
    
    
    background-position: center;
    transition-property: background;
    transition-duration: 1s;*/
}
#header{
    font-family: 'Roboto Condensed', sans-serif;
    width:100%;
    background-color: #ecf0f1;
    margin-bottom: 20px;

}
#header #menu{
}
#header #menu ul{
    float:right;
    margin-top: 5px;
}
#header #menu li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 2em;
    padding: 5px;
    font-weight: 300;
}
#content{

}
h1{
    margin:0;
}
#logo{
    display: block;
    padding: 50px 0 0 0;
}
.flex-container{
    display: flex; /* or inline-flex */
    justify-content: space-around;
    flex-flow: row wrap;
    list-style-type: none;

}
.flex-item{
    height: 250px;
    width:225px;
    background:  white;

}

.flex-item img{
    width:100%;

}
.flex-item p{
    margin-top:10px;
    text-align: center;
}
/*ul{
    padding-left: 0;
}*/

@keyframes mymove
{
    0%   { background:#2c3e50;}
    25%  { background:#34495e;}
    50%  { background:#2c3e50;}
    75%  { background:#34495e;}
    100% { background:#2c3e50;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
    0%   { background:#2c3e50;}
    25%  { background:#34495e;}
    50%  { background:#2c3e50;}
    75%  { background:#34495e;}
    100% { background:#2c3e50;}
}
@media screen and  (max-width:1080){

}